<div class="title">
  <p>Limite de Crédito PJ</p>
  <p>Apresenta a sugestão de limite de crédito para a empresa consultada, ajustado a seu grau de risco, facilitando o processo de decisão na venda financiada ou concessão de crédito.</p>
</div>

<div class="card-with-title">
  <p class="bold">R$ {{cc.MascaraDecimal(data.scoreResponse[0].score)}}</p>
  <p>Limite de Crédito PJ</p>
  
</div>

<div class="card-with-title">
  <p class="bold">Interpretação</p>
  <p>O Limite de Crédito trata-se de modelo estatístico, calculado com dados positivos, financeiros e comportamentais, além de considerar em sua composição referenciais de negócios, como o Faturamento Estimado e a probabilidade de inadimplência. Combine a solução com outras informações relevantes em sua política para tomada de decisão.</p>
</div>