<div class="sub-container">
  <p class="sub-title" *ngIf="type == 1"><strong> Dívidas comerciais - Pefin</strong> (Convênio de empresas comerciais)
    Exibindo {{this.data.summary.count}} registros
  <p class="sub-title" *ngIf="type == 2"><strong> Dívidas com instituições financeiras- Refin</strong> Exibindo
    {{this.data.summary.count}} registros</p>
  <div class="serasa-table-container">
    <div class="serasa-table-header">
      <div>Data</div>
      <div>Valor</div>
      <div>Modalidade</div>
      <div>Contrato</div>
      <div>Origem</div>
      <div>Praça</div>
      <div>Avalista</div>
    </div>
    <div class="serasa-table-body">
      <div class="serasa-table-row" *ngFor="let row of getObj()">
        <div>{{this.cc.DataFormatoBr(row.occurrenceDate)}}</div>
        <div>{{this.cc.MascaraDecimal(row.amount) }}</div>
        <div>{{row.legalNature}}</div>
        <div>{{row.contractId}}</div>
        <div>{{row.creditorName}}</div>
        <div>{{row.legalSquare == '' ? '-' : row.legalSquare }}</div>
        <div>{{row.principal == true ? 'Não' : 'Sim'}}</div>
      </div>
    </div>
  </div>
</div>