.table-container{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.rule-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

