<div class="title">
  <p>Renda Estimada</p>
  <p>Apresenta uma estimativa da renda mensal do CPF consultado em valor monetário.</p>
</div>

<div class="card-with-title">
  <p class="bold">R$ {{cc.MascaraDecimal(data.attributesResponse[0].scoring)}}</p>
  <p>Renda Estimada</p>
  
</div>

<div class="card-with-title">
  <p class="bold">Atenção</p>
  <p>A decisão de aprovação ou não de crédito é de exclusiva responsabilidade do concedente. As informações aqui exibidas são apenas auxiliares para essa decisão.</p>
</div>