/* Define o layout principal */
.main-container {
    height: 100vh;
    display: flex;
    background-color: var(--primaryGray);
}

/* Configuração do menu lateral */
.sidenav {
    width: 200px;
    transition: width 0.3s ease-in-out;
    background: #fff;
    color: white;
    overflow: hidden;
}

/* Quando o menu está fechado, mantém apenas os ícones visíveis */
.sidenav.closed {
    width: 60px;
}

/* Toolbar dentro do menu */
.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #34495e;
    padding: 10px;
}

/* Links do menu */
.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 0;
    padding: 10px;
    color: var(--primary);
    text-decoration: none;
    transition: background 0.2s;
    width: 100%;
    justify-content: flex-start;

}

.menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Ícones do menu */
.menu mat-icon {
    font-size: 24px;
}

/* Quando o menu está fechado, esconde o texto */
.sidenav.closed .menu-text {
    display: none;
}

/* Área de conteúdo principal */
.content {
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
}

/* Ajuste do espaço do conteúdo quando o menu está fechado */
.content.expanded {
    margin-left: -190px;
}

/* Barra superior dentro do conteúdo */
mat-toolbar {
    background: #005f86;
    color: white;
}

.logoImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg img {
    width: 80px;
    height: 80px;
}