<div class="contracts-container">
  <app-Header [titulo]="'Escolha os lotes de parceiros'"></app-Header>

  <div class="cs-table" *ngIf="this.batchs?.length > 0">
    <div class="cs-table-header">
      <div class="col-1">
        <p>Ações</p>
      </div>
      <div class="col-1">
        <p>Data</p>
      </div>
      <div class="col-5">
        <p>Cliente</p>
      </div>
      <div class="col-1">
        <p>Pessoas</p>
      </div>
      <div class="col-2">
        <p>Status</p>
      </div>
    </div>
    <div class="cs-table-body">
      <div class="cs-table-row" *ngFor="let row of this.batchs">
        <div class="col-1 grid-actions">
          <!-- <mat-icon matTooltip="Alterar para análise">sell</mat-icon> -->
          <p><mat-slide-toggle [(ngModel)]="row.checked" color="primary"></mat-slide-toggle></p>
        </div>
        <div class="col-1">
          <p>{{this.cc.DataFormatoBr(row.data)}}</p>
        </div>
        <div class="col-5">
          <p>{{row.nome}}</p>
        </div>
        <div class="col-1">
          <p>{{row.totalBeneficiarios}}</p>
        </div>
        <div class="col-2 text-center">
          <p class="{{this.situacoes[row.situacao].Classe}}">{{this.situacoes[row.situacao].Texto}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-center mt-3" *ngIf="this.batchs?.length > 0">
    <button mat-fab extended color="primary" (click)="newBatch()">
      <mat-icon>bolt</mat-icon>
      Gerar Lote
    </button>
  </div>
  <div class="flex-center mt-3" *ngIf="this.batchs?.length == 0">
    <mat-icon color="primary" style="font-size: 80px; width: 80px; height: 80px;">assignment_late</mat-icon>
    <p>Nenhum contrato disponível para ser enviado!</p>
  </div>
</div>