<div class="component-header">
  <app-Header [titulo]="'Produtos'"></app-Header>

  <button mat-fab extended color="primary" (click)="openDialog(0)">
    <mat-icon>add</mat-icon>
    Novo
  </button>
</div>
<div class="cs-table-totals" *ngIf="this.pagination?.itens?.length > 0">
  <p>{{ this.pagination.itens.length }} resultado(s)</p>
</div>
<div class="grid-container">
  <div class="cs-table" *ngIf="this.pagination?.itens?.length > 0">
    <div class="cs-table-header">
      <div class="col-4"><p>Nome</p></div>
      <div class="col-2"><p>Tipo</p></div>
      <div class="col-1"><p>Situação</p></div>
      <div class="col-2"><p>Ações</p></div>
    </div>
    <div class="cs-table-body" (scroll)="onScroll($event)">
      <div class="cs-table-row" *ngFor="let row of this.pagination?.itens">
        <div class="col-4 text-center">
          <p>{{ row.descricao }}</p>
        </div>
        <div class="col-2 text-center">
          <p>{{ this.GetTipoProdutoDesc(row.limpaNome) }}</p>
        </div>
        <div class="col-1 text-center">
          <p class="{{ this.cc.RetornaClasseAtivo(row.situacao) }}">
            {{ this.cc.RetornaTextoAtivo(row.situacao) }}
          </p>
        </div>
        <div class="col-2 grid-actions">
          <mat-icon matTooltip="Editar registro" (click)="openDialog(row.id)"
            >edit</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
